.spotify-app {
  background: #FCFCFC;
  padding: 10px;
  min-height: 1000px;
  width: 100%;
}

.spotify-button-wrapper {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
}

.spotify-button-wrapper button {
  margin: 5px;
}

/*
.spotify-player {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  background: #80B7A7;
}

@media only screen and (max-width: 600px) {
  .spotify-player .left-container img{
    display: none;
  }
  .spotify-player .spotify-player--slider-track {
    margin: auto 10px 4px 10px;
  }
}


.spotify-player .left-container img{
  width: 75px;
}

*/

/*
.spotify-player .spotify-player--slider-track {
  flex-grow: 1;
  margin: auto 20px 4px 40px;
} */
/*
.spotify-player .controllers {
  text-align: center;
  margin: 10px;
}

.spotify-player .controllers button {
  margin: 0 5px 0 5px;
}

.spotify-player .left-container {
  display: flex;
}

.spotify-player .artist-track {
  font-size: 12px;
  margin: auto auto auto 10px;
} */

.spotify--top-tracks ul {
  display: flex;
  flex-wrap: wrap;
}

.spotify--top-tracks li {
  margin: 10px;
  list-style-type: none;
}

.spotify--top-tracks li img {
  max-width: 100px;
}

.spotify--top-tracks .title-wrapper {
  font-size: 12px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.spotify--list-tracks h2 {
  width: 100%;
}

.spotify--list-tracks div img {
  max-width: 150px;
}

.spotify--list-tracks div {
  margin: 5px;
}

.spotify--list-tracks .title-wrapper {
  font-size: 12px;
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
}

.spotify--list-tracks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}